/*Color MAP
	Bleu = #1F3F7C
	Jaune = #F8D95C
*/

/*---Title---*/
#zoneTitle {
	text-align : center ;
	margin-top : 10px ;
	margin-bottom: 10px ;
}

.title {
	font-size : 50px ;
	font-weight : bold ;
}

/*---transition---*/
.transition {
	height : 5px ; 
	background-color : #F8D95C ;
}

/*---Menu---*/
#menu {
	position: -webkit-sticky;
	position: sticky;

	top : 0px ;
}

.bg-primary {
	background-color : #1F3F7C !important ;
}

#brandMenu {
	font-weight : bold ;
}

/*---Footer---*/
footer {
	background-color : #F8D95C ;
}

/*--Tools--*/
.center {
	display : inline ;
	vertical-align : middle ;
}